<div class="menu">
  <h3>Inbox</h3>
  <div (click)="showPopup(!popup)" class="friend-image">
    <svg viewBox="0 0 612 792">
      <use xlink:href="assets/sprite.svg#user"></use>
    </svg>
  </div>
  <!-- <ul class="nav first-nav">
    <li><a href="#">All Messages</a><span>21</span></li>
    <li><a href="#">Unread</a><span>89</span></li>
    <li><a href="#">Important</a><span>6</span></li>
    <li><a href="#">Drafts</a><span>27</span></li>
  </ul> -->

  <ul class="nav second-nav">
    <li [ngClass]="{ 'active': !showFriends }" (click)="toggleShowFriends.emit(false)"><a>Chats</a></li>
    <li [ngClass]="{ 'active': showFriends }" (click)="toggleShowFriends.emit(true)"><a>Friends</a></li>
  </ul>
</div>
