
  <div class="chat">
    <div class="chat-header">
      <div class="chat-nav">
        <div class="person-typing" *ngIf="typingNames.size > 0 && renderNames()"><span><strong>{{ renderNames() }}</strong> is typing...</span></div>
        <div class="star">
          <svg viewBox="0 0 100 100">
            <use xlink:href="assets/sprite.svg#phone"></use>
          </svg>
        </div>
        <div class="phone">
          <svg viewBox="0 0 100 100">
            <use xlink:href="assets/sprite.svg#video"></use>
          </svg>
        </div>
      </div>
    </div>

    <div #chat class="messages-container">

      <div *ngIf="interlocutors.length && !isFriends" class="add-friend">
        <div class="add-message">
          {{ interlocutors[0].fullName }} wants to add you to contact list
        </div>
        <div class="add-buttons">
          <button type="button" (click)="acceptFriend()">Accept</button>
          <button type="button">Decline</button>
        </div>
      </div>

      <div *ngFor="let msg of sortMsgs(messages)" class="message-wrap">

        <div *ngIf="msg.sender === user._id" class="my-message">
          <div class="my-text-message arrow_box">
            <p>{{ msg.text }}</p>
          </div>
          <div class="my-meta">
            <img [src]="user.picture" alt="">
            <span>{{ moment(msg.date).format('HH:mm') }}</span>
          </div>
        </div>

        <div *ngIf="msg.sender !== user._id" class="message">
          <div class="meta">
            <img [src]="getImage(msg)" alt="">
            <span>{{ moment(msg.date).format('HH:mm') }}</span>
          </div>
          <div class="text-message arrow_box">
            <p>{{ msg.text }}</p>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="chat-input">
    <svg class="load-file" viewBox="0 0 24 24">
      <use xlink:href="assets/sprite.svg#attach"></use>
    </svg>
    <div class="input-container">
      <input type="text" placeholder="Type your message..." [(ngModel)]="message" [disabled]="!isFriends || !room" (keyup.enter)="sendMessage()" (keypress)="startTyping()">
    </div>
    <svg viewBox="0 0 32 32" class="smile-button">
      <use xlink:href="assets/sprite.svg#emoji"></use>
    </svg>
    <button type="button" class="submit-button">
      <svg viewBox="0 0 48 48">
        <use xlink:href="assets/sprite.svg#send"></use>
      </svg>
    </button>
  </div>


  <!-- <div class="message-wrap">
    <div class="message">
      <div class="meta">
        <img src="" alt="">
        <span>12:37</span>
      </div>
      <div class="text-message arrow_box">
        <p>It goes a little something like this.</p>
      </div>
    </div>
  </div>

  <div class="message-wrap">
    <div class="message">
      <div class="meta">
        <img src="" alt="">
        <span>12:38</span>
      </div>
      <div class="text-message arrow_box">
        <p>It was all a dream, I used to read Word Up magazine Salt'n'Pepa and Heavy D up in the limousine.</p>
      </div>
    </div>
  </div>

  <div class="message-wrap">
    <div class="my-message">
      <div class="my-text-message arrow_box">
        <p>Did you ever Hang' pictures on your wall?</p>
      </div>
      <div class="my-meta">
        <img src="" alt="">
        <span>12:39</span>
      </div>
    </div>
  </div> -->
