<div *ngIf="!pending && !accepted" class="wrap">
</div>
    <div class="chat-header">
      <div class="chat-nav">
        <div class="person-typing" *ngIf="typingNames.size > 0 && renderNames()"><span><strong>{{ renderNames() }}</strong> is typing...</span></div>
        <div (click)="callUser()" class="star">
          <svg viewBox="0 0 100 100">
            <use xlink:href="assets/sprite.svg#phone"></use>
          </svg>
        </div>
        <div class="phone" (click)="videoCallUser()">
          <svg viewBox="0 0 24 24">
            <use xlink:href="assets/sprite.svg#video"></use>
          </svg>
        </div>
      </div>
    </div>

    <div #chat class="messages-container">

      <div *ngIf="interlocutors.length && accepted && !pending" class="add-friend">
        <div class="add-message">
          {{ interlocutors[0].fullName }} wants to add you to contact list
        </div>
        <div class="add-buttons">
          <button class="accept-button" type="button" (click)="acceptFriend()">Accept</button>
          <button class="reject-button" type="button">Decline</button>
        </div>
      </div>

      <div *ngIf="interlocutors.length && pending && !accepted" class="add-friend">
        {{ interlocutors[0].fullName }} still didn't add you to his contact list!
      </div>

      <div *ngFor="let msg of sortMsgs(messages)" class="message-wrap">

        <div *ngIf="msg.sender === user._id" class="my-message">
          <div class="my-text-message arrow_box">
            <p>{{ msg.text }}</p>
          </div>
          <div class="my-meta">
            <img [src]="user.picture || './assets/images/noavatar.png'" alt="">
            <span>{{ moment(msg.date).format('HH:mm') }}</span>
          </div>
        </div>

        <div *ngIf="msg.sender !== user._id" class="message">
          <div class="meta">
            <img [src]="getImage(msg)" alt="">
            <span>{{ moment(msg.date).format('HH:mm') }}</span>
          </div>
          <div class="text-message arrow_box">
            <p>{{ msg.text }}</p>
          </div>
        </div>

      </div>

    </div>


  <div class="chat-input">
    <div class="input-container">
      <input type="text" [placeholder]="!pending && !accepted ? 'Add user to start chatting' : 'Type your message...'" [(ngModel)]="message" [disabled]="!isFriends || !room" (keyup.enter)="sendMessage()" (keypress)="startTyping()">
    </div>
    <button type="button" class="submit-button" (click)="sendMessage()">
      <svg viewBox="0 0 48 48">
        <use xlink:href="assets/sprite.svg#send"></use>
      </svg>
    </button>
  </div>
