<div class="registration">
  <div class="">
    <span>First Name</span><input type="text" [(ngModel)]="first">
  </div>
  <div class="">
    <span>Username</span><input type="text" [(ngModel)]="username">
  </div>
  <div class="">
    <span>Last Name</span><input type="text" [(ngModel)]="last">
  </div>
  <div class="">
    <span>Email</span><input type="email" [(ngModel)]="email">
  </div>
  <div class="">
    <span>Password</span><input type="password" [(ngModel)]="password">
  </div>
  <div class="">
    <span>Phone</span><input type="text" [(ngModel)]="phone">
  </div>
  <div class="">
    <span>Language</span><input type="text" [(ngModel)]="language">
  </div>
  <div class="">
    <span>Address</span><input type="text" [(ngModel)]="address">
  </div>
  <div class="">
    <span>Picture</span><input type="file" (change)="changeImage($event)">
  </div>
  <button type="button" (click)="submit()">Submit</button>
</div>

<!-- <img *ngIf="image" [src]="image"> -->
