<form class="auth-form" [formGroup]="authForm">
  <div class="form authorization" *ngIf="!register">
    <h2>= Chat App =</h2>
    <div class="auth-select">
      <ul>
        <li class="border-right" (click)="changeToLogin()" [ngClass]="{ 'selected': !register}">Sign in</li>
        <li (click)="changeToReg()" [ngClass]="{ 'selected': register}">Sign up</li>
      </ul>
    </div>
    <div class="form-input form-elem">
      <input type="text" formControlName="email" placeholder="Email" />
    </div>
    <div class="form-input form-elem">
      <input type="text" formControlName="password" placeholder="Password" />
    </div>
    <div class="form-button form-elem">
      <button type="button" (click)="submitForm()">Submit</button>
    </div>
  </div>
  <div class="form registration" *ngIf="register">
    <h2>Registration</h2>
    <div class="auth-select">
      <ul>
        <li class="border-right" (click)="changeToLogin()" [ngClass]="{ 'selected': !register}">Sign in</li>
        <li (click)="changeToReg()" [ngClass]="{ 'selected': register}">Sign up</li>
      </ul>
    </div>
    <div class="form-input form-elem">
      <input type="text" formControlName="first" placeholder="First Name">
    </div>
    <div class="form-input form-elem">
      <input type="text" formControlName="username" placeholder="Username">
    </div>
    <div class="form-input form-elem">
      <input type="text" formControlName="last" placeholder="Last Name">
    </div>
    <div class="form-input form-elem">
      <input type="email" formControlName="email" placeholder="Email">
    </div>
    <div class="form-input form-elem">
      <input type="password" formControlName="password" placeholder="password">
    </div>
    <div class="form-input form-elem">
      <input type="text" formControlName="phone" placeholder="Phone">
    </div>
    <div class="form-input form-elem">
      <input type="text" formControlName="language" placeholder="Language">
    </div>
    <div class="form-input form-elem">
      <input type="text" formControlName="address" placeholder="Address">
    </div>
    <div class="form-input form-elem form-file">
      <span>Select image</span>
      <input type="file" (change)="changeImage($event)" placeholder="Choose file">
    </div>
    <div class="form-input form-elem">
      <dp-date-picker [theme]="'dp-material'" [(ngModel)]="birthday" [ngModelOptions]="{standalone: true}"></dp-date-picker>
    </div>
    <div class="form-elem form-sel">
      <select class="form-select form-elem" formControlName="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>
    <div class="form-button form-elem">
      <button type="button" (click)="submit()">Submit</button>
    </div>
  </div>
</form>
