.auth-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #1d232a;
  overflow-y: scroll;
  .form {
    display: inline-block;
    align-self: center;
    margin: auto;
    .auth-select {
      text-align: center;
      ul {
        padding: 0;
        margin: 0 0 40px 0;
        li {
          display: inline-block;
          color: #939597;
          padding: 0 12px;
          cursor: pointer;
        }
        .selected {
          color: #fff;
        }
        .border-right {
          border-right: 1px solid #bebebe;
        }
        li:hover {
          color: #fff;
        }
      }
    }
    h2 {
      color: #fff;
      text-align: center;
      font-size: 44px;
      font-weight: 200;
      margin: 0 0 75px 0;
    }
    .form-elem input {
      height: 40px;
      width: 310px;
      box-sizing: border-box;
      border-radius: 18px;
      border: none;
      margin-bottom: 30px;
      background-color: #363d45;
      color: #868b8e;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
    }
    .form-elem input:focus {
      outline: none;
    }

    .form-elem button {
      height: 40px;
      width: 310px;
      box-sizing: border-box;
      border-radius: 18px;
      border: none;
      background-color: #0084ff;
      color: #fff;
      line-height: 40px;
    }

    .form-elem button:focus {
      outline: none;
    }

    .form-select {
      height: 40px;
      width: 310px;
      box-sizing: border-box;
      border-radius: 18px;
      border: none;
      background-color: #363d45;
      color: #fff;
      margin-bottom: 30px;
    }

    .form-select:focus {
      outline: none;
    }
  }
}
