
  <div class="search-container">
    <input type="text" placeholder="Search">
  </div>

  <div *ngFor="let room of rooms" (click)="setChat(room)" class="chat-person">
    <div class="chat-image">
      <span class="online-status"></span>
      <img src="" alt="">
    </div>
    <div class="user-meta">
      <div><span>{{ setChatTitle(room) }}</span></div>
      <span>Thanks again you have been...</span>
    </div>
    <div class="chat-settings">
      <svg viewBox="0 0 17.6 17.2">
        <use xlink:href="assets/sprite.svg#more"></use>
      </svg>
      <span>5 min</span>
    </div>
  </div>



  <div class="chat-person">
    <div class="chat-image">
      <span class="online-status"></span>
      <img src="" alt="">
    </div>
    <div class="user-meta">
      <div><span>Matt Thompson</span></div>
      <span>Thanks again you have been...</span>
    </div>
    <div class="chat-settings">
      <svg viewBox="0 0 17.6 17.2">
        <use xlink:href="assets/sprite.svg#more"></use>
      </svg>
      <span>5 min</span>
    </div>
  </div>

  <div class="chat-person">
    <div class="chat-image">
      <img src="" alt="">
    </div>
    <div class="user-meta">
      <div><span>Claire Sharwood</span></div>
      <span>My selfie game is lacking can...</span>
    </div>
    <div class="chat-settings">
      <svg viewBox="0 0 17.6 17.2">
        <use xlink:href="assets/sprite.svg#more"></use>
      </svg>
      <span>10 min</span>
    </div>
  </div>
