

.search-container {
  height: 79px;
  border-bottom: 1px solid #3f454b;
  line-height: 79px;
  text-align: center;
  padding: 0 25px;
  position: relative;
  svg {
    position: absolute;
    height: 15px;
    width: 15px;
    fill: #fff;
    top: 33px;
    left: 43px;
  }
  input {
    height: 40px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    border-radius: 30px;
    border: none;
    background: #363d45;
    padding: 0 50px 0 48px;
    color: #868b8e;
    font-size: 14px;
    font-weight: 500;
  }
  input::placeholder {
    color: #868b8e;
  }
  input:focus {
    outline: none;
  }
}
