<div class="container">
  <div class="chat-container">
    <div class="menu">
      <h3>Inbox</h3>
      <div class="friend-image">
        <svg viewBox="0 0 612 792">
          <use xlink:href="assets/sprite.svg#user"></use>
        </svg>
      </div>
      <ul class="nav first-nav">
        <li><a href="#">All Messages</a><span>21</span></li>
        <li><a href="#">Unread</a><span>89</span></li>
        <li><a href="#">Important</a><span>6</span></li>
        <li><a href="#">Drafts</a><span>27</span></li>
      </ul>

      <ul class="nav second-nav">
        <li><a href="#">Help</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </div>

    <div class="chat-list">
      <div class="search-container">
        <input type="text" placeholder="Search">
      </div>

      <div class="chat-person">
        <div class="chat-image">
          <span class="online-status"></span>
          <img src="" alt="">
        </div>
        <div class="user-meta">
          <div><span>Matt Thompson</span></div>
          <span>Thanks again you have been...</span>
        </div>
        <div class="chat-settings">
          <svg viewBox="0 0 17.6 17.2">
            <use xlink:href="assets/sprite.svg#more"></use>
          </svg>
          <span>5 min</span>
        </div>
      </div>

      <div class="chat-person">
        <div class="chat-image">
          <img src="" alt="">
        </div>
        <div class="user-meta">
          <div><span>Claire Sharwood</span></div>
          <span>My selfie game is lacking can...</span>
        </div>
        <div class="chat-settings">
          <svg viewBox="0 0 17.6 17.2">
            <use xlink:href="assets/sprite.svg#more"></use>
          </svg>
          <span>10 min</span>
        </div>
      </div>
    </div>

    <div class="chat-block">
      <div class="chat">
        <div class="chat-header">
          <div class="chat-nav">
            <div class="person-typing"><span><strong>Kirsten Mckellar</strong> is typing...</span></div>
            <div class="star">
              <svg viewBox="0 0 100 100">
                <use xlink:href="assets/sprite.svg#phone"></use>
              </svg>
            </div>
            <div class="phone">
              <svg viewBox="0 0 100 100">
                <use xlink:href="assets/sprite.svg#video"></use>
              </svg>
            </div>
          </div>
        </div>

        <div class="messages-container">
          <div class="message">
            <div class="meta">
              <img src="" alt="">
              <span>12:37</span>
            </div>
            <div class="text-message arrow_box">
              <p>It goes a little something like this.</p>
            </div>
          </div>

          <div class="message">
            <div class="meta">
              <img src="" alt="">
              <span>12:38</span>
            </div>
            <div class="text-message arrow_box">
              <p>It was all a dream, I used to read Word Up magazine Salt'n'Pepa and Heavy D up in the limousine.</p>
            </div>
          </div>

          <div class="my-message">
            <div class="my-text-message arrow_box">
              <p>Did you ever Hang' pictures on your wall?</p>
            </div>
            <div class="my-meta">
              <img src="" alt="">
              <span>12:39</span>
            </div>
          </div>
        </div>

      </div>

      <div class="chat-input">
        <svg class="load-file" viewBox="0 0 24 24">
          <use xlink:href="assets/sprite.svg#attach"></use>
        </svg>
        <div class="input-container">
          <input type="text" placeholder="Type your message...">
        </div>
        <svg viewBox="0 0 32 32" class="smile-button">
          <use xlink:href="assets/sprite.svg#emoji"></use>
        </svg>
        <button type="button" class="submit-button">
          <svg viewBox="0 0 48 48">
            <use xlink:href="assets/sprite.svg#send"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="user-info-container">
      <div class="user-header">
        <div>
          <svg viewBox="0 50 512 512">
            <use xlink:href="assets/sprite.svg#bell"></use>
          </svg>
        </div>
        <span>{{ user.firstName + " " + user.lastName }}</span>
      </div>

      <div class="user-info">
        <div class="svg-more">
          <svg viewBox="0 0 17.6 17.2">
            <use xlink:href="assets/sprite.svg#more"></use>
          </svg>
        </div>
        <img src="" alt="">
        <h3>Kirsten Mckellar</h3>
        <div class="city-info"><span>Cape Town, RSA</span></div>
        <ul class="user-data">
          <li><span>Nickname:</span><span>Killa Kella</span></li>
          <li><span>Tel:</span><span>072 143 9920</span></li>
          <li><span>Date Of Birth:</span><span>July 12, 1988</span></li>
          <li><span>Gender:</span><span>Female</span></li>
          <li><span>Language:</span><span>English</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
