<div class="container">
  <app-popup *ngIf="popup" [user]="user" (triggerPopup)="triggerPopup($event)"></app-popup>
  <div class="chat-container">
    <app-inbox (triggerPopup)="triggerPopup($event)" (toggleShowFriends)="toggleShowFriends($event)"></app-inbox>
    <div *ngIf="rooms && user && !showFriends" class="chat-list">
      <app-rooms [rooms]="rooms" [user]="user"></app-rooms>
    </div>
    <div *ngIf="rooms && !showFriends" class="chat-block">
      <app-chat [room]="rooms[0]"></app-chat>
    </div>
    <div *ngIf="showFriends" class="friends">
      <app-friends [user]="user" [friends]="friends" (toggleShowFriends)="toggleShowFriends($event)"></app-friends>
    </div>
    <app-info [user]="user"></app-info>

  </div>
</div>
