.container {
  width: 100%;
  height: 100%;
  .chat-container {
    display: flex;
    min-width: 1520px;
    height: 100%;
    margin: 0 auto;
    flex-direction: row;

    .menu {
      width: 230px;
      background-color: #252b33;
      font-family: 'Roboto', sans-serif;
      height: 100%;
      h3 {
        color: #fff;
        font-size: 22px;
        font-weight: 500;
        padding-left: 28px;
        display: inline-block;
        margin-top: 30px;
      }

      .nav {
        list-style: none;
        display: inline-block;
        margin: 0 20px auto;
        padding: 0 0 10px 0;
        border-bottom: 1px solid #2c3239;
        li {
          height: 38px;
          width: 190px;
          margin: 0 auto;
          line-height: 38px;
          font-size: 14px;
          position: relative;
          color: #a0a4a7;
          border-radius: 5px;
          span:first-child {
            position: absolute;
            left: 10px;
          }
          span:nth-child(2n) {
            position: absolute;
            right: 13px;
          }
        }
        li:hover {
          background-color: #343c45;
          color: #ffffff;
        }
      }
    }

    .chat-list {
      width: 360px;
      height: 100%;
      background: linear-gradient(135deg, #2c333a 0%,#242a31 100%);
      font-family: 'Roboto', sans-serif;

      .search-container {
        height: 79px;
        border-bottom: 1px solid #3f454b;
        line-height: 79px;
        text-align: center;
        input {
          height: 40px;
          box-sizing: border-box;
          width: 310px;
          margin: 0 auto;
          border-radius: 18px;
          border: none;
          background: #363d45;
          padding: 0 50px 0 50px;
        }
        input::placeholder {
          color: #868b8e;
        }
      }

      .chat-person {
        height: 100px;
        position: relative;
        .chat-image {
          height: 100%;
          padding: 0;
          display: inline-block;
          width: 50px;
          border-bottom: 1px solid #3f454b;
          margin-left: 25px;
        }

        .user-meta {
          display: inline-block;
          position: absolute;
          left: 75px;
          top: 36px;
          width: 230px;
          box-sizing: border-box;
          padding-left: 18px;
          div {
            span {
              font-weight: 500;
              font-size: 16px;
              color: #ffffff;
            }
          }
          span {
            font-size: 14px;
            font-weight: 300;
            color: #94979b;
          }
        }

        .chat-settings {
          display: inline-block;
          position: absolute;
          right: 20px;
          width: 35px;
          top: 36px;
          text-align: right;
          span {
            color: #4f5459;
            font-size: 11px;
            font-weight: 500;
          }
          div {
            strong {
              margin-left: 15px;
              color: #eaeaeb;
              width: 100%;
            }
          }
        }
      }
    }

    .chat-block {
      width: 653px;
      position: relative;

      .chat {
        position: absolute;
        bottom: 81px;
        left: 0;
        right: 0;
        top: 0;
        border-bottom: 1px solid #dbe0e0;
        background: linear-gradient(135deg, #f7fcfc 0%,#e7e9ef 100%);
        .chat-header {
          box-sizing: border-box;
          height: 80px;
          border-bottom: 1px solid #dbe0e0;

          .chat-nav {
            margin: 0;
            height: 100%;
            padding: 0;
            li {
              display: inline-block;
              height: 100%;
              width: 76px;
              line-height: 79px;
            }
            li:first-child {
              box-sizing: border-box;
              width: 492px;
              font-size: 14px;
              padding-left: 30px;
            }
            li:not(:last-child) {
              border-right: 1px solid #dbe0e0;
            }
          }
        }
      }

      .chat-input {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 80px;
        input {
          height: 100%;
          width: 100%;
          box-sizing: border-box;
        }
      }
    }

    .user-info-container {
      width: 277px;
    }
  }
}
