<div class="container">
  <div class="chat-container">
    <div class="menu">
      <h3>Inbox</h3><img src="" alt="">
      <ul class="nav">
        <li><span>All Messages</span><span>21</span></li>
        <li><span>Unread</span><span>89</span></li>
        <li><span>Important</span><span>6</span></li>
        <li><span>Drafts</span><span>27</span></li>
      </ul>

      <ul class="nav">
        <li><span>Help</span></li>
        <li><span>Settings</span></li>
      </ul>
    </div>

    <div class="chat-list">
      <div class="search-container">
        <input type="text" placeholder="Search">
      </div>

      <div class="chat-person">
        <div class="chat-image">
        </div>
        <div class="user-meta">
          <div><span>Matt Thompson</span></div>
          <span>Thank again you have been...</span>
        </div>
        <div class="chat-settings">
          <div><strong>...</strong></div>
          <span>5 min</span>
        </div>
      </div>

      <div class="chat-person">
        <div class="chat-image">
        </div>
        <div class="user-meta">
          <div><span>Claire Sharwood</span></div>
          <span>My selfie game is lacking can...</span>
        </div>
        <div class="chat-settings">
          <div><strong>...</strong></div>
          <span>10 min</span>
        </div>
      </div>
    </div>

    <div class="chat-block">
      <div class="chat">
        <div class="chat-header">
          <ul class="chat-nav">
            <li><strong>Kirsten Mckellar</strong> is typing...</li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
          </ul>
        </div>

        <div class="messages-container">
          <div class="message">
            <div class="meta">
              <img src="" alt="">
              <span>12:37</span>
            </div>
            <div class="text-message">
              <p>It goes a little something like this.</p>
            </div>
          </div>

          <div class="message">
            <div class="meta">
              <img src="" alt="">
              <span>12:38</span>
            </div>
            <div class="text-message">
              <p>It was all a dream, I used to read Word Up magazine Salt'n'Pepa and Heavy D up in the limousine.</p>
            </div>
          </div>

          <div class="my-message">
            <div class="meta">
              <img src="" alt="">
              <span>12:39</span>
            </div>
            <div class="text-message">
              <p>Did you ever Hang' pictures on your wall?</p>
            </div>
          </div>
        </div>

      </div>
      <div class="chat-input">
        <input type="text" name="" value="">
      </div>
    </div>

    <div class="user-info-container">
      <div class="user-header">
        <img src="" alt="">
        <span>Matt Thompson</span>
      </div>

      <div class="user-info">
        <img src="" alt="">
        <h3>Kristen Mckellar</h3>
        <span>Cape Town, RSA</span>
        <ul>
          <li><span><strong>Nickname:</strong></span><span>Killa Kella</span></li>
          <li><span><strong>Tel:</strong></span><span>072 143 9920</span></li>
          <li><span><strong>Date Of Birth:</strong></span><span>July 12, 1988</span></li>
          <li><span><strong>Gender:</strong></span><span>Female</span></li>
          <li><span><strong>Language:</strong></span><span>English</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
