<header class="header">
  <div class="search-container">
    <input type="text" placeholder="Search" [(ngModel)]="filterValue">
  </div>
</header>
<div class="friend-list">
  <div *ngIf="friends.length" class="friends-container">
    <div *ngFor="let friend of filterFunc(friends)" class="friend" (click)="navigateToRoom(friend)">
      <div class="online-status" *ngIf="onlineUsers && onlineUsers.indexOf(friend._id) !== -1"></div>
      <img [src]="friend.picture">
      <div class="full-name">
        <span>{{ friend.fullName }}</span>
      </div>
    </div>
  </div>
</div>
