<div (click)="setChat()" *ngIf="title && title.toLowerCase().indexOf(filterValue.toLowerCase()) !== -1" class="chat-person" [ngClass]="{ 'active': active }">
  <div class="chat-image">
    <span class="online-status" *ngIf="interlocutors.length && onlineUsers.indexOf(interlocutors[0]._id) !== -1"></span>
    <img [src]="picture || './assets/images/noavatar.png'" alt="">
  </div>
  <div class="user-meta">
    <div><span>{{ title }}</span></div>
    <span *ngIf="lastMessage">{{ lastMessage.text }}</span>
  </div>
  <div class="unread" *ngIf="unreadLength > 0">
    {{ unreadLength }}
  </div>
  <div class="chat-settings">
    <svg viewBox="0 0 17.6 17.2">
      <use xlink:href="assets/sprite.svg#more"></use>
    </svg>
    <div class="dropdown">
      <ul class="dropdown-menu arrow_box">
        <li (click)="deleteChat(room)">Delete chat</li>
      </ul>
    </div>
    <span *ngIf="lastMessageTime !== null && lastMessage">{{ lastMessageTime }} min</span>
  </div>
</div>
