<div (click)="setChat()" class="chat-person" [ngClass]="{ 'active': active }">
  <div class="chat-image">
    <span class="online-status"></span>
    <img [src]="picture" alt="">
  </div>
  <div class="user-meta">
    <div><span>{{ title }}</span></div>
    <span *ngIf="lastMessage">{{ lastMessage.text }}</span>
  </div>
  <div class="chat-settings">
    <svg (click)="deleteChat(room)" viewBox="0 0 17.6 17.2">
      <use xlink:href="assets/sprite.svg#more"></use>
    </svg>
    <span *ngIf="lastMessageTime !== null">{{ lastMessageTime }} min</span>
  </div>
</div>
