<div class="user-info-container">
  <div class="user-header">
    <div>
    </div>
    <span>{{ user.fullName }}</span>
  </div>

  <div *ngIf="userInfo" class="user-info">
    <div class="svg-more">
      <svg viewBox="0 0 17.6 17.2">
        <use xlink:href="assets/sprite.svg#more"></use>
      </svg>
      <div class="dropdown">
        <ul class="dropdown-menu">
          <li (click)="unfriendUser()">Unfriend</li>
        </ul>
      </div>
    </div>
    <img [src]="userInfo.picture" alt="">
    <h3>{{ userInfo.fullName }}</h3>
    <div class="city-info"><span>{{ userInfo.address }}</span></div>
    <ul class="user-data">
      <li><span>Nickname:</span><span>{{ userInfo.username }}</span></li>
      <li><span>Tel:</span><span>{{ userInfo.phone }}</span></li>
      <li><span>Date Of Birth:</span><span>{{ moment(userInfo.birthday).format("MMM DD, YYYY") }}</span></li>
      <li><span>Gender:</span><span>{{ userInfo.gender }}</span></li>
      <li><span>Language:</span><span>{{ userInfo.language }}</span></li>
    </ul>
  </div>
</div>
