<div class="user-info-container">
  <div class="user-header">
    <div>
      <svg viewBox="0 50 512 512">
        <use xlink:href="assets/sprite.svg#bell"></use>
      </svg>
    </div>
    <span>{{ user.firstName + " " + user.lastName }}</span>
  </div>

  <div class="user-info">
    <div class="svg-more">
      <svg viewBox="0 0 17.6 17.2">
        <use xlink:href="assets/sprite.svg#more"></use>
      </svg>
    </div>
    <img src="" alt="">
    <h3>Kirsten Mckellar</h3>
    <div class="city-info"><span>Cape Town, RSA</span></div>
    <ul class="user-data">
      <li><span>Nickname:</span><span>Killa Kella</span></li>
      <li><span>Tel:</span><span>072 143 9920</span></li>
      <li><span>Date Of Birth:</span><span>July 12, 1988</span></li>
      <li><span>Gender:</span><span>Female</span></li>
      <li><span>Language:</span><span>English</span></li>
    </ul>
  </div>
</div>
