<div class="user-info-container">
  <div class="user-header">
    <div>
      <svg viewBox="0 50 512 512">
        <use xlink:href="assets/sprite.svg#bell"></use>
      </svg>
    </div>
    <span>{{ user.firstName + " " + user.lastName }}</span>
  </div>

  <div *ngIf="userInfo" class="user-info">
    <div class="svg-more">
      <svg viewBox="0 0 17.6 17.2">
        <use xlink:href="assets/sprite.svg#more"></use>
      </svg>
    </div>
    <img [src]="userInfo.picture" alt="">
    <h3>{{ userInfo.firstName + " " + userInfo.lastName }}</h3>
    <div class="city-info"><span>{{ userInfo.address }}</span></div>
    <ul class="user-data">
      <li><span>Nickname:</span><span>{{ userInfo.username }}</span></li>
      <li><span>Tel:</span><span>{{ userInfo.phone }}</span></li>
      <li><span>Date Of Birth:</span><span>{{ moment(userInfo.birthday).format("MMM DD, YYYY") }}</span></li>
      <li><span>Gender:</span><span>{{ userInfo.gender }}</span></li>
      <li><span>Language:</span><span>{{ userInfo.language }}</span></li>
    </ul>
  </div>
</div>
